body {
    margin: 0;
    padding: 0;
    width: max-content;
    height: max-content;
}

header {
    background-color: rgb(113, 214, 152);
    height: 150px;
    width: 100%;
}

.logo {
    height: 100px;
    width: auto;
    margin: auto;
}

.texto {
    text-align: center;
    word-wrap: break-word;
}

p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2em;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(79, 153, 128);
}

.coluna1 {
    height: fit-content;
    /*max-width: 11.5cm;
    width: 11.5cm;*/
    position: relative;
    margin: auto;
}

.coluna2 {
    height: max-content;
    max-width: 11.5cm;
    width: 11.5cm;
    display: inline-block;
    position: absolute;
    left: 12.5cm;
    
}

.coluna3 {
    height: max-content;
    max-width: 11cm;
    width: 11.5cm;
    display: inline-block;
    background-color: brown;
    position: fixed;
    right: 20px;
}

@media (max-width: 720px) {
    h1 {
        font-size: 2cm;
        color: rgb(79, 153, 128);
    }

    h2 {
        text-align: right;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1cm;
    }

    p {
        font-size: 1cm;
        line-height: 2em;
    }

    .coluna1 {
        font-size: 1cm;
    }

    header {
        background-color: rgb(113, 214, 152);
        height: 150px;
        width: 100%;
    }
    
}



