body {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(129, 228, 170);
    height: 60px;
}

.menu {
    height: 50px;
    width: 50px;
    position: relative;
}



.texto {
    text-align: center;
}

p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3em;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.coluna1 {
    
    height: fit-content;
    /*max-width: 11.5cm;
    width: 11.5cm;*/
    position: relative;
    margin: auto;
}

.coluna2 {
    height: max-content;
    max-width: 11.5cm;
    width: 11.5cm;
    display: inline-block;
    position: absolute;
    left: 12.5cm;
    
}

.coluna3 {
    height: max-content;
    max-width: 11cm;
    width: 11.5cm;
    display: inline-block;
    background-color: brown;
    position: fixed;
    right: 20px;
}

@media (max-width: 720px) {
    h1 {
        font-size: 2cm;
    }

    p {
        font-size: 1cm;
        line-height: 1.5em;
    }

    .coluna1 {
        font-size: 1cm;
        margin: auto;
    }
    
    .texto {
        margin: 1cm;
    }

    header {
        width: 100%;
    }
    
   #img_logo {
        margin: auto;
        z-index: 10;
   }
}



